<!DOCTYPE html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <title>{% block page_title %}{% endblock %}</title>

  <link rel="stylesheet" href="{{ url_for('static',filename='vendor/foundation/css/foundation.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='stylesheets/main.css') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='vendor/modernizr/modernizr.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='vendor/jquery/dist/jquery.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='vendor/foundation/js/foundation.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='vendor/jquery.cookie/jquery.cookie.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='vendor/jsrender/jsrender.min.js') }}"></script>

  {% block head_end %}{% endblock %}
</head>
<body>

  <div id="top-bar-wrapper">
    <nav class="top-bar" role="navigation">
      <div id="logo-wrapper">
        <a href="{{url_for('frontend.index')}}"><img src="/static/images/logo.png"/></a>
      </div>
    </nav>
  </div>

  {% block content %}{% endblock %}
  {% block body_end %}{% endblock %}

  <script>
    $(document).foundation();
  </script>
  <script type="text/javascript" src="{{ url_for('static', filename='javascripts/app.js') }}"></script>
</body>
</html>
