{% extends "base.html" %}

{% block head_end %}
  <script src="https://maps.googleapis.com/maps/api/js"></script>
{% endblock %}

{% block content %}

  <header>
    <div class="row">
      <div class="large-6 columns">
        <h1>{{premises.entry.name}}</h1>
        <h3 class="heading-small"><a href="{{poao_premises_register}}/hash/{{poao_premises.hash}}">Approval number: {{poao_premises.entry['products-of-animal-origin-premises']}}</a></h3>
        {% if premises.entry['company'] %}
          <h3 class="heading-small"><a href="https://beta.companieshouse.gov.uk/company/{{premises.entry['company']}}">Company  number: {{premises.entry['company']}}</a></h3>
        {% endif %}
      </div>
    </div>
  </header>

  <main id="content" role="main">
    <div class="row">
      <div class="large-3 columns">
        <h2 class="heading-medium">Premises contact details</h2>
      </div>
      <div class="large-4 large-offset-1 columns">
        <h3 class="heading-small">Address</h3>
          <div class="address" itemscope itemtype="http://schema.org/PostalAddress">
            <span>{{address.entry.property}}</span><br/>
            <span itemprop="streetAddress">{{address.entry.street}}</span><br/>
            {% if address.entry.town %}
              <span itemprop="addressLocality">{{address.entry.town}}</span><br/>
            {% elif address.entry.locality %}
              <span itemprop="addressLocality">{{address.entry.locality}}</span><br/>
            {% elif address.entry.area %}
              <span itemprop="addressLocality">{{address.entry.area}}</span><br/>
            {% endif %}
            <span itemprop="postalCode">{{address.entry.postcode}}</span><br/>
            <span itemprop="addressCountry">{{address.entry['country']}}</span>
          </div>
      </div>
      <div class="large-4 columns">
        <div id="map-canvas">
        </div>
      </div>
    </div>
  </main>

  <section id="food-sectors">
    <div class="row">
      <div class="large-3 columns">
        <h2 class="heading-medium">Food sector sections approved for this premises</h2>
      </div>
      <div class="large-5 large-offset-1 columns end">
        <ul>
        {% for category in category_details %}
          <li><a href="{{food_category_register}}/food-establishment-category/{{ category.category_key }}">{{ category.category_key }}</a>
              <ul><li>{{ category.section_name }} - {{ category.activity_name }}</li></ul>
          </li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </section>

  {% include "footer.html" %}

{% endblock %}

{% block body_end %}
  <script>
    var initialize = function () {
      var mapCanvas = document.getElementById('map-canvas'),
        coordinates = new google.maps.LatLng({{ address.entry.latitude }}, {{ address.entry.longitude }}),
          mapOptions = {
              center: coordinates,
              zoom: 15,
              mapTypeId: google.maps.MapTypeId.ROADMAP,
              zoomControl: true,
              zoomControlOptions: {
                style: google.maps.ZoomControlStyle.SMALL
              }
          },
          map = new google.maps.Map(mapCanvas, mapOptions),
          marker = new google.maps.Marker({
              position: coordinates,
              map: map,
              title: "{{ name }}"
          });
      };

      $(document).ready(function(){
          initialize();
      });
</script>
{% endblock %}
