{% extends "base.html" %}

{% block head_end %}
  <script src="https://maps.googleapis.com/maps/api/js"></script>
{% endblock %}

{% block content %}

  <main id="content" role="main">
    <div class="row back">
      <div class="large-1 columns">
      <p><a href="{{url_for('frontend.search', location=location, establishment_name=premises.entry.name)}}"><i class="fa fa-caret-left"></i>Back</a></p>
      </div>
    </div>

    <div class="row rating-header">
      <div class="large-12 columns">
        <h1 class="heading-large"><span class="business">{{premises.entry.name}}</span><span class="rating-id"> - {{food_premises_rating}}</span></h1>
      </div>
    </div>

    <div class="row rating">
      <div class="large-4 columns">
        <p><img src="{{ asset_path }}images/ratings/rating-{{rating.entry['food-premises-rating-value']}}.png"/></p>
      </div>
      <div class="large-7 columns end">
        <h2 class="heading-medium">Premises details</h2>
        <p>{{rating.premises}}</p>
        <p>Premises number: <a href="http://www.2010.voa.gov.uk/rli/en/advanced/assessment-history/2010/{{premises.entry.premises}}">{{premises.entry.premises}}</a></p>
        <h2 class="heading-medium">Local authority</h2>
        <p><img src="/static/images/camden-logo-black.png" class="local-authority-logo"></p>
        <div id="map-canvas"></div>
      </div>
    </div>

    <div class="row" class="inspection-details">
      <div class="large-7 columns large-offset-4">
        <h2 class="heading-medium">Inspection details</h2>
        <h2 class="heading-small">Date of last inspection</h2>
        <p>{{rating.entry['start-date']}}</p>
        <h2 class="heading-small">Food Hygiene Rating</h2>
        <p class="food-hygiene-rating">{{ premises.entry | format_inspection }}</p>
        {% if premises.entry.inspection_history %}
        <p>
          <ul class="accordion" data-accordion>
            <li class="accordion-navigation">
              <a href="#history">View inspection history</a>
              <div id="history" class="content">
                {% for inspection in premises.entry.inspection_history %}
                  <p>{{inspection.start_date}} - {{ inspection | format_inspection}}</p>
                {% endfor %}
              </div>
            </li>
          </ul>
        </p>
        {% endif %}
        <h2 class="heading-small">Inspected by</h2>
        <p>Camden Council</p>
        <h2 class="heading-small">Rating breakdown:</h2>
        <ul>
          <li><h3 class="heading-small">Hygienic food handling</h3>
            <span class="inspection-result">Result: Improvement necessary</span>
            <p>Hygienic handling of food including preparation, cooking,
          re-heating, cooling and storage. </p>
          </li>
          <li>
            <h3 class="heading-small">Cleanliness and condition of facilities and building</h3>
            <span class="inspection-result">Result: Major improvement necessary</span>
            <p>Cleanliness and condition of facilities and building (including
          having appropriate layout, ventilation, hand washing facilities
          and pest control) to enable good food hygiene.</p>
          </li>
          <li>
            <h3 class="heading-small">Management of food safety</h3>
            <span class="inspection-result">Result: Major improvement necessary</span>
            <p>System or checks in place to ensure that food sold or served is
          safe to eat, evidence that staff know about food safety, and the
          food safety officer has confidence that standards will be
          maintained in future.</p>
          </li>
        </ul>
        {% if rating.entry['food-premises-rating-reply']  %}
        <h2 class="heading-medium">What the business says</h2>
        <div class="response">
          <p>{{rating.entry['food-premises-rating-reply'] | format_reply | safe }}</p>
        </div>
        {% endif %}

        <h2 class="heading-medium">Company details</h2>
        <div class="row">
          <table class="company-details">
            <tbody>
              <tr><td>Company name:</td><td>{{company.company_name}}</td></tr>
              <tr><td>Company number:</td><td><a href="https://beta.companieshouse.gov.uk/company/{{premises.entry.business | format_curie }}">{{premises.entry.business | format_curie }}</a></td></tr>
              <tr><td>Head office:</td><td>{{company.registered_office_address.address_line_1}},{{company.registered_office_address.locality}}, {{company.registered_office_address.country}} {{company.registered_office_address.postal_code}}</td></tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </main>

  <div class="row register-links">
    <div class="large-7 columns large-offset-4"">
        <h2 class="heading-small">This page uses data from open registers.</h2>
        <div id="registers" class="content">
          <ul>
            <li><a href="http://food-premises.openregister.org/food-premises/{{premises.entry['food-premises']}}">Food premises</a></li>
            <li><a href="http://premises.prod.openregister.org/premises/{{premises.entry['premises']}}">Premises</a></li>
            <li><a href="http://food-premises-rating.openregister.org/food-premises-rating/{{rating.entry['food-premises-rating']}}">Food premises rating register</a></li>
            <li><a href="http://local-authority.openregister.org/local-authority/{{premises.entry['local-authority']}}">Local authority register</a></li>
            <li><a href="http://company.openregister.org/company/{{premises.entry.business | format_curie }}">Company register</a></li>
        </ul>
      </div>
    </div>
  </div>

  {% include "footer.html" %}
{% endblock %}

{% block body_end %}

<script>
  var initialize = function () {
    var mapCanvas = document.getElementById('map-canvas'),
        coordinates = new google.maps.LatLng({{ latitude }}, {{longitude }}),
        mapOptions = {
            center: coordinates,
            zoom: 15,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            zoomControl: true,
            zoomControlOptions: {
              style: google.maps.ZoomControlStyle.SMALL
            }
        },
        map = new google.maps.Map(mapCanvas, mapOptions),
        marker = new google.maps.Marker({
            position: coordinates,
            map: map,
            title: "Byron"
        });
    };

    $(document).ready(function(){
        initialize();
    });
</script>
{% endblock %}
